* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

section{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    display: none;
}

.map-div{
    height: 100%;
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00000025;
}

.mapboxgl-ctrl-top-right {
    top: 125px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000025;
}

.marker {
    background-image: url('../img/item.gif'); /* DEFAULT IMAGE*/
    background-size: cover;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.blinking{
    animation: blinking 1.5s infinite;
}

@keyframes blinking{
    0%{background-color: #ff000000;}
    25%{background-color: #ff0000da;}
    50%{background-color: #ff0000ff;}
    75%{background-color: #ff0000da;}
    100%{background-color: #ff000000;}
}

.fe {
    max-height: 50px;
}

.ce {
    max-height: 35px;
}